<main>
    <section class="tarefas">
        <div class="tarefas">
            <input type="radio" id="tarefa-1">
            <label for="tarefa-1">Completrar curso de Javascript</label>

            <button><img src="/imagens/X-icon.png" alt="icone x"></button>
        </div>
    </section>
</main>